.tree {

  .leaf.level-1, .leaf.level-2, .leaf.level-3, 
  .leaf.level-4, .leaf.level-5, .leaf.level-6, 
  .leaf.level-7, .leaf.level-8, .leaf.level-9 {
    border-left: 1px solid var(--color-light-grey);
    padding-left: 15px;
    color: var(--gray);
  }

  .treeview-node.leaf:hover {
    border-left: 1px solid var(--gray);  
  }

  .treeview-node.leaf.active {
    border-left: 1px solid var(--color-accent);
    color: var(--color-accent);
  }

  .treeview-node .expando {
    margin-left: 0;
    opacity: 0.6;
  }

  .treeview-node:hover .expando {
    opacity: 1;
  }
   
  i.expando {
    color: var(--gray);
  }

  .expando span {
    margin-left: 5px;
    color: var(--gray);
  }
  
  .treeview-node.active  {
    color: var(--color-accent);
  }
  
  .treeview-node {
    cursor: pointer;
    padding: 3px 0px;
  }
}
