<script
  src="https://cdn.jsdelivr.net/npm/d3@6.7.0/dist/d3.min.js"
  integrity="sha256-+7jaYCp29O1JusNWHaYtgUn6EhuP0VaFuswhNV06MyI="
  crossorigin="anonymous"
></script>

<details open>
  <summary class="text-upper-case">{{ i18n "interactive_graph" }}</summary>
  <div id="graph-wrap-container">
    <a id="graph-expand" class="graph-btn" title="Expand" href="javascript:false">
      <i class="bi bi-arrow-up-right"></i>
    </a>
    <div id="graph-container">
    </div>
  </div>  
</details>  

<style>
  :root {
    --g-node: var(--secondary);
    --g-node-active: var(--color-accent);
    --g-node-inactive: var(--visited);
    --g-link: var(--outlinegray);
    --g-link-active: var(--color-accent);
  }
</style>
{{ $js := resources.Get "js/graph.js" | resources.Fingerprint "md5" }}
<script src="{{ $js.Permalink }}"></script>
