<aside class="m-3">
  <div class="d-flex flex-column">
    {{ $config := cond (eq $.Site.Language.Lang "en") "config" (printf "config.%s" $.Site.Language.Lang) }}
   
    {{/*
    <div>
      <h4 id="page-title">
        <a class="root-title" href="{{ "" | absLangURL }}">
          {{ ( index $.Site.Data $config ).page_title | default $.Site.Data.config.page_title }}
        </a>
      </h4>    
    </div>
    */}}
    <div class="d-flex flex-row">
      <div class="home-link-container me-2">
        <a class="home-link" href="{{ "" | absLangURL }}">
          <i class="bi bi-house-fill theme-aware"></i>
        </a>
      </div>
      
      {{partial "search-icon.html" .}}
      {{partial "darkmode.html" .}}     
    </div>
    <div class="my-3">
      {{ partial "tree.html" .}}
    </div>    
  </div>
</aside>

  