<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "page-popover.html" .}}  
{{partial "search.html" .}}
<div class="singlePage">
    <div class="container-xxl">
      <div class="row">        
        <div class="col-md-3">
          {{partial "left.html" .}}
        </div>

        <div class="col-md-6">
          {{partial "middle.html" .}}          
        </div>

        <div class="col-md-3">
          {{partial "right.html" .}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {{partial "bottom.html" .}}
      </div>
    </div>
    
</div>
</body>
</html>
