name: Deploy to GitHub Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main", "quartzite"]

  # Allows you to run this workflow manually from the Actions tab
  #workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Default to bash
defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-20.04
    # https://github.com/peaceiris/actions-gh-pages#%EF%B8%8F-first-deployment-with-github_token
    permissions:
      contents: write
    steps:
      # https://github.com/actions/checkout
      - name: Checkout Quartzite 
        uses: actions/checkout@v3
        with:
          path: ./
          fetch-depth: 1    
          ref: quartzite

      - name: Checkout content  
        uses: actions/checkout@v3
        with:
          path: _raw_content
          fetch-depth: 1    
          ref: main
      
      - name: Run scripts
        run: |
          rm -rf content
          mv _raw_content/content content
          [ -f content/Index.md ] && [ ! -f content/_index.md ] && mv content/Index.md content/_index.md
          ls content
        continue-on-error: false    

      # https://github.com/jackyzha0/hugo-obsidian
      - name: Build link index
        uses: jackyzha0/hugo-obsidian@v2.20
        with:
          index: true
          input: content
          output: assets/indices
          root: .

      # https://github.com/peaceiris/actions-hugo
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2.6.0
        with:
          hugo-version: '0.113.0'
          extended: true

      - name: Build with Hugo
        env:
          # For maximum backward compatibility with Hugo modules
          HUGO_ENVIRONMENT: production
          HUGO_ENV: production
        run: hugo --minify

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          publish_branch: gh-pages  # deploying branch
          #cname: quartz.jzhao.xyz
